<h2> Welcome </h2>

<%= flash.now[:no_user] %>
<%= flash[:message] %>

<%= form_tag welcome_path do %>
    <%= label_tag :username %><br>
    <%= text_field_tag :name %><br><br>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %><br><br>
    <%= submit_tag "Login" %>
<% end %>

<br>

<%= button_to "Create New User", 'users/new', method: :get %>

