




<% if @error_var == true %>
  <p style="color: red;">You can only select ten movies. </p>
<% end %>


<%= form_for(@usermoviematch, url: create_new_matches_path) do |f| %>
<div class="checkboxes">

<%= f.collection_check_boxes(:movie_id, Movie.all, :id, :title, {}, { multiple: true, max: 2 }) do |b| %>
<p>
<%= b.check_box %>
<%= b.label  %>
</p>
<% end %>
</div>
<br>
<br>
</ul>
<%= f.submit "Submit Favorites" %>
<% end %>

