<div id="side-bar">
</div>

<div id="profile">
 
  <div class="profile-photo" style="display: inline-block;">
  <img src=<%= @user.photo %> style="border-radius:50%; width:400px;">
  </div>
  <div class="profile-data">
   <div class="profile-name-header">
  <h2><%= @user.name %></h3>
  </div>
  <h5>Age: <%= @user.age %> </h5>
  <br>
  <h5>City: <%= @user.city.name %></h5>
  <br>
  <h5>Phone Number: <%= @user.phone_number %></h5>
  <br>
  <h5>Bio: <i><%= @user.bio %></i></h5>
  <div class="edit-user-button">
  <%= link_to "Edit Profile", edit_user_path(@user)%>
  </div>
</div>

</div>



<div class="favorite-movies">
<h3>Favorite Movies:</h3>
  <div class="movies-list">
  <ol>
    <% @user.movies.each do |movie| %>
      <li><%= link_to movie.title, movie_path(movie) %></li>
      <% end %>
  </ol>
  </div>
  <div class="edit-movie-favs-button">
<%= link_to "Edit Movie List", edit_user_movie_match_path(@user)%>
</div>
</div>


<div class="see-matches-button">
<%= link_to "See Matches", matches_path(@user)%>
</div>
<br>

