<div class="profile">
<h2><%= @user.name %></h3>
<h4>Age: <%= @user.age %> </h4>
<h4>Phone Number: <%= @user.phone_number %></h4>
<h4>City: <%= @user.city.name %></h4>
<br>
<h4>Bio: <%= @user.bio %></h4>
<br><br>
<img src=<%= @user.photo %> height="300">
<br>
<h3>Favorite Movies:</h3>
<ol>
  <% @user.movies.each do |movie| %>
    <li><%= link_to movie.title, movie_path(movie) %></li>
    <% end %>
</ol>
</div>

<%= link_to "Edit User", edit_user_path(@user)%>
