<!DOCTYPE html>
<html>
  <head>
    <title>MovieMatcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = "header"> 
<ul>
    <%= link_to "All Users", users_path %> 
    <%= link_to "All Movies", movies_path %> 
</ul>
</div>
    <%= yield %>
  </body>
</html>
